// Place all the styles related to the Api::Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-index-view {
  padding: 20px;
}

.comment-item {
  button {
    width: 100%;
  }

  form, div.comment-body {
    width: 100%;
  }

  textarea {
    float: left;
    width: 90%;
  }

  div {
    float: left;
    div {
      display: block;
    }
  }

  .comment-content-main {
    width: 60%;
  }

  .delete-button-wrapper {
    width: 19%;
    text-align: right;
  }

  .delete-comment {
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .comment-user {
    width: 20%;
  }

  .comment-date {
    font-size: 11px;
  }

  .comment-body: {
    padding-bottom: 10px;
  }
}
