// Place all the styles related to the Api::Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buttons-row {
  margin: 20px 0;
  text-align: center;

  button.btn.btn-default {
    width: 172px;
    margin-top: 10px;
  }
}

.events-days-index {
  h2 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid;
  }
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 20px;
}

.event-day-index {
  font-size: 20px;
  position: relative;
  color: rgb(0, 55, 43);
  width: 100%;
  li {
    list-style-type: none;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  a {
    color: rgb(0, 55, 43);
  }

  a:hover {
    color: rgb(67, 136, 121);
  }

  margin-bottom: 20px;
}

.events-date {
  top: 10px;
  left: 10px;
  text-align: left;
}

.event-item {
  background: #f7f7f7;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 1%;
  text-align: left;
}

ul.events-day-index {
  padding: 0px;
}

.event-time {
  margin: 0px;
  display: inline-block;
  float: left;
  position: relative;
  left: 10px;
  font-size: 20px;
}

.event-information {
  display: inline-block;
  position: relative;
  float: left;
  left: 80px;
}

.event-group-title {
  font-size: 14px;
}

.event-title {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 30px;
}

.event-attendees {
  font-size: 14px;
}

.event-content {
  position: relative;

  h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .event-show-date {
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;
  }

  p {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .event-buttons-row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    button {
      padding-top: 5px;
      padding-bottom: 5px;
      min-width: 115px;
      margin-right: 15px;
    }
  }

  button {
    text-align: center;
  }
}

.organizer-buttons-container {
  text-align: center;
  width: 80%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.event-info-group {
  padding-bottom: 20px;
}

.user-events-index > .buttons-row > button.btn.btn-default {
  width: 200px;
  margin-right: 20px;
}
