// Place all the styles related to the Api::Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.group-detail-view {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  img {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  p {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

}

.sidebar {
  width: 30%;
  float: left;
}

.main-pane {
  width: 60%;
  float: left;
}

.group-show {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 10px 10px 0px 0px;
}

.group-events-index {
  padding: 20px;
  text-align: center;

}

div.users-index-view {
  padding: 20px;

  ul.users-index {
      padding: 0px;

      li {
        list-style-type: none;

        .user-item {
            padding: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 2px solid #ccc;
            border-left:  2px solid #ccc;
            border-right:  2px solid #ccc;
            img {
              display: inline-block;
            }

            div {
              display: inline-block;
            }

        }
      }
  }

  h1 {
    text-align: center;
    margin: 0px;
    border-bottom: 2px solid #bbb;
    padding-bottom: 10px;
  }
}

.images-index {
  padding: 20px;
  text-align: center;

  h2 {
    padding: 0px;
    text-align: center;
  }

  .index-image-upload {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .image-item {
    * {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    padding: 10px;
    margin: 0px;
    float: left;
    width: 33.33%;
  }
}

.image-modal {
  img {
    padding-bottom: 10px;
  }

  text-align: center;
}

.groups-index {
  display: block;
  clear: both;
  position: relative;

  li {
    position: relative;
    float: left;
    width: 33.33%;
  }
}

.group-item {
  text-decoration: none;

  a {
    color: white;
    font-size: 20px;
    text-shadow: black 2px 2px 4px;
  }

  a:hover {
    text-decoration: none;
    color: white;
  }

  .group-background-image {
    margin: 15%;
    border: 0px;
  }

  .group-background-image img {
    border-radius: 10px;
    z-index: -1;
    width: 100%;
  }

  .group-title {
    position: absolute;
    font-size: 2vmin;
    bottom: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%);

  }

  .group-count {
    width: 150px;
    position: absolute;
    font-size: 2vmin;
    bottom: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
  }
}

.group-detail-view button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.spacer {
  height: 1px;
  width: 2%;
  float: left;
}

.image-container {
  width: 100%;
  display: block;
  height: 225px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 20px;
  h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    text-shadow: 0px 0px 4px black;
  }

  h4 {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 4px black;
  }
}

.group-jumbo {
  position: relative;
}

.jumbotron.group-nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: 0px;
  padding: 0px;
  transform: translateX(-50%);
  width: 100%;
  background: transparent;
  .group-jumbo-link {
    width: 31%;
    position: relative;
    display:inline-block;
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 4px black;
    background: transparent;
  }
}
