// Place all the styles related to the Api::Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.group-detail-view {
  width: 100%;
  img {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  p {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

}

.sidebar {
  width: 30%;
  float: left;
}

.main-pane {
  width: 60%;
  float: right;
}

.group-show {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.group-events-index {
  padding: 20px;
  text-align: center;

}

div.users-index-view {
  padding: 20px;

  ul.users-index {
      padding: 0px;

      li {
        list-style-type: none;

        .user-item {
            padding: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 2px solid rgb(14, 82, 67);
            border-left:  2px solid rgb(14, 82, 67);
            border-right:  2px solid rgb(14, 82, 67);
            img {
              display: inline-block;
              width: 100px;
              height: 100px;
            }

            div {
              display: inline-block;
            }

        }
      }
  }

  h1 {
    text-align: center;
    margin: 0px;
    border-bottom: 2px solid rgb(14, 82, 67);
    padding-bottom: 10px;
  }
}

.images-index {
  padding: 20px;
  text-align: center;

  h2 {
    padding: 0px;
    text-align: center;
  }

  .index-image-upload {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .image-item {
    * {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    padding: 10px;
    margin: 0px;
    float: left;
    width: 33.33%;
  }
}

.image-modal {
  img {
    padding-bottom: 10px;
  }

  text-align: center;
}

ul.groups-index {
  display: inline-block;
  clear: both;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  li {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 180px;
    margin: 9px;
  }


}

.group-item {
  text-decoration: none;

  a {
    color: white;
    font-size: 20px;
    text-shadow: black 2px 2px 4px;
  }

  a:hover {
    text-decoration: none;
    color: white;
  }

  .group-background-image {
    border: 0px;
  }


  .group-background-image img {
    border-radius: 10px;
    z-index: -1;
    width: 300px;
    height: 180px;
  }

  .group-title {
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Fugaz One';
    width: 80%;
    text-shadow: 0px 5px 1px black;
    bottom: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%);

  }

  .group-count {
    width: 80%;
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    bottom: 20%;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
  }
}

.group-item:hover {
  transform: scale(1.02);
}

.group-item, .group-item:hover {
  -webkit-transition: 300ms linear 0s;
  -moz-transition: 300ms linear 0s;
  -o-transition: 300ms linear 0s;
  transition: 300ms linear 0s;
}

.group-detail-view > button.btn {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  height: 1px;
  width: 2%;
  float: left;
}

.image-container {
  width: 100%;
  display: block;
  height: 225px;
  margin-bottom: 20px;
  background-image: url(http://res.cloudinary.com/dj7rafx1m/image/upload/c_scale,h_225,w_1920/v1440006093/gqszmwaqb97woi5r7zvj.png);
  h2 {
    margin-top: 0px;
    color: white;
    text-align: center;
    font-size: 40px;
    text-shadow: 0px 5px 1px black;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Fugaz One';
  }

  h4 {
    color: white;
    font-weight: bold;
    font-family: 'Fugaz One';
    text-align: center;
    text-shadow: 0px 5px 1px black;
  }
}

.group-jumbo {
  position: relative;
}

.jumbotron.group-nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: 0px;
  padding: 0px;
  transform: translateX(-50%);
  width: 100%;
  background: transparent;
  .group-jumbo-link {
    width: 31%;
    font-family: 'Fugaz One';
    font-weight: bold;
    position: relative;
    display:inline-block;
    font-size: 20px;
    color: white;
    text-shadow: 0px 5px 1px black;
    background: transparent;
  }

  .group-jumbo-link:hover, .group-jumbo-link:focus {
    text-shadow: -1px 1px 8px rgb(221, 242, 161), 1px -1px 8px rgb(165, 218, 145);
  }

  .group-jumbo-link, .group-jumbo-link:hover, .group-jumbo-link:focus {
  	color: #fff;
  	-webkit-transition: 500ms linear 0s;
  	-moz-transition: 500ms linear 0s;
  	-o-transition: 500ms linear 0s;
  	transition: 500ms linear 0s;
  }
}

.nav.navbar-nav > li.active > a{
  background-color: rgb(14, 82, 67);
}

.nav.navbar-nav > li.active > a:hover {
  background-color: rgb(14, 82, 67);
}
