.group-form-fields > div, .group-form-fields > input {
  display: none;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  background-color: rgb(217, 228, 235);
  font-size: 20px;
  border-radius: 25px;
  label {
    width: 100%;
    text-align: center;
  }
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;

  input.button {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.form-container > .group-form-fields {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  .group-new-title {
    display: block;
  }
}

.group-new-view {
  margin-top: -15px;
  min-height: 1000px;
}

label > textarea {
  width: 80%;
  border-radius: 25px;
  border-color: #ccc;
  outline: none;
}

div.form-container > form.group-form-fields > div.submit-button > input.create-group.btn.btn-success {
  background-color: #93c54b;
  width: 90%;
  font-weight: bolder;
  font-size: 35px;
  outline: none;
  border-radius: 25px;
}

.create-group.btn.btn-success:hover {
  background-color: rgb(86, 134, 17);
}

div.submit-button {
  background-color: inherit;
}

ul.errors {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  text-align: center;
  font-weight: bolder;
  font-family: 'Fugaz One';
  font-size: 15px;
}
