<div class="comment-item">
  <% if (comment.user) { %>
    <div class="comment-user">
      <%= comment.user.username %> <br>
    </div>
  <% } %>

  <div class="comment-body">
    <%= comment.escape('body') %>
  </div>
  <div class="comment-date">
    Created at: <%= comment.displayDate() %>
  </div>

  <%if (comment.get('user_id') === parseInt(GameUp.currentUser.userId)) { %>
    <div class="delete-button-wrapper">
      <button class="delete-comment btn btn-primary">Delete</button>
    </div>
  <% } %>
</div>
