<% if (attending) { %>
  <div class="new-comment-wrapper">
    <button type="button" class="new-comment btn btn-info">New Comment</button>
  </div>
<% } %>

<div class="comment-form"></div>

<% if (!comments.length) { %>
  <h4 class="no-events">No comments yet.</h4>
<% } else { %>
  <h4>Comments:</h4>
<% } %>

<ul class="comments-index"></ul>
