<div class="comment-item clear-fix">
  <% if (comment.user) { %>
    <div class="comment-user">
      <img src="<%= comment.image.userThumbnail() %>" alt="" />
      <%= comment.user.username %> <br>
    </div>
  <% } %>
  <div class="comment-content-main">
    <div class="comment-body">
      <%= comment.escape('body') %>
    </div>
    <div class="comment-date">
      Created at: <%= comment.displayDate() %>
    </div>
  </div>

  <%if (comment.get('user_id') === parseInt(GameUp.currentUser.userId)) { %>
    <div class="delete-button-wrapper">
      <button class="delete-comment btn btn-danger">Delete</button>
    </div>
  <% } %>
</div>
