<div class="sidebar"></div>
<div class="event-content">
  <%= event.escape('date')%>
  <%= event.escape('title')%>
  <%= event.escape('description')%>
  <%= event.escape('organizername') %>
  <ul class="comments-feed"></ul>
</div>
