<div id="content">
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var username = "<%= current_user.username %>";
    var user_id = "<%= current_user.id %>"
    var currentUser = {
      userId: user_id,
      username: username
    }
    GameUp.initialize({currentUser: currentUser});
  });
</script>
