<div id="content"></div>
<script type="text/javascript">
  $(document).ready(function(){
    var current_user = "<%= current_user.username %>";
    GameUp.initialize({currentUser: current_user});
  });
</script>
