<form action="<%= action %>" method="post">
  <%= auth_token %>
  <label>Username
    <input type="text" name="user[username]">
  </label>

  <label>Password
    <input type="password" name="user[password]">
  </label>

  <label>Location
    <input type="text" name="user[location]" value="<%= @user.location %>">
  </label>

  <input type="submit" value="Sign <%= verb %>">
</form>
