<img class="image-jumbo" src="<%= group.jumboPic().groupJumbo($('div.jumbotron.group-nav').width()) %>"/>
<div class="jumbotron group-nav">
  <h2><%= group.escape('title') %></h2>
  <p><a class="group-jumbo-link" data-page-type="Home">Home</a></p>
  <p><a class="group-jumbo-link" data-page-type="Members">Members</a></p>
  <p><a class="group-jumbo-link" data-page-type="Photos">Photos</a></p>
  <% if (group.owner) {%>
    <div class="switch-jumbo">Click here to edit Jumbotron Image</div>
  <% } %>
</div>
