<div class="sidebar"></div>
<div class="events-feed">
  <!-- <button type="button" class="new-event">Create Event</button> -->
  <p class="event-filter">Upcoming</p>
  <p class="event-filter">Past</p>
  <p class="event-filter">Calendar</p>
  <ul class="events-feed"></ul>
</div>
<div class="event-form"></div>
