<div class="image-container">
  <h2><%= group.escape('title') %></h2>
  <% if(!group.jumboPic().get('id') && group.owned) { %>
    <h4>Click here to upload an image.</h4>
  <% } %>
</div>
<div class="jumbotron group-nav container">
  <div class="group-jumbo-link hover-fix col-md-4"><div class="group-jumbo-link-text">Home</div></div>
  <div class="group-jumbo-link hover-fix col-md-4"><div class="group-jumbo-link-text">Members</div></div>
  <div class="group-jumbo-link hover-fix col-md-4"><div class="group-jumbo-link-text">Photos</div></div>
</div>
