<div class="jumbotron-container"></div>
<div class="content-wrapper clear-fix">
  <div class="sidebar"></div>
  <div class="spacer"></div>
  <div class="main-pane"></div>
  <div class="event-form"></div>
</div>
