<div class="form-container">
  <form class="group-form-fields" action="" method="post">
    <ul class="errors"></ul>
    <label>Title
      <input type="text" name="group[title]">
    </label>

    <label>Location
      <input type="text" name="group[location]">
    </label>

    <label>Description
      <textarea name="group[description]"></textarea>
    </label>

    <label>Member name
      <input type="text" name="group[member_name]">
    </label>

    <label class="image-upload">
      <button class="image-upload">Upload Image</button>
    </label>
    <br>

    <input type="submit" value="Create Group" class="create-group">
  </form>
</div>
