<div class="buttons-row">
  <button class="btn btn-default upcoming">Upcoming Events</button>
  <button class="btn btn-default past">Past Events</button>
</div>

<div class="events-index-content"></div>
