<div class="image-container">
  <h2><%= group.escape('title') %></h2>
  <% if(!group.jumboPic().get('id') && group.owned) { %>
    <h4>Click here to upload an image.</h4>
  <% } %>
</div>
<div class="jumbotron group-nav">
  <div class="group-jumbo-link hover-fix">Home</div>
  <div class="group-jumbo-link hover-fix">Members</div>
  <div class="group-jumbo-link hover-fix">Photos</div>
</div>
