<div class="buttons-row col-xs-12">
  <div class="col-md-6 col-xs-12">
    <button class="btn btn-default upcoming">Upcoming Events</button>
  </div>
  <div class="col-md-6 col-xs-12">
    <button class="btn btn-default past">Past Events</button>
  </div>
</div>

<div class="events-index-content"></div>
