<div class="buttons-row">
  <button class="btn btn-primary my-upcoming">My Upcoming Events</button>
  <button class="btn btn-primary upcoming">Upcoming Events</button>
</div>

<div class="events-index-content"></div>
