<div class="m-background"></div>

<div class="confirmation-modal">
    <div class="confirmation-content">
      <button type="button" class="cancel-button btn btn-default">CANCEL</button>
      <button type="button" class="delete-button btn btn-default">DELETE</button>
    </div>
</div>
