<div class="genre-item unselected">  
  <div class="genre-name">
    <%= genre.get('name') %>
  </div>
  <div class="genre-fa-icon">
    <i class="fa fa-<%= genre.get('fa_icon') %>" style="color: rgb(<%= genre.get('color') %>)"></i>
  </div>
</div>
