<div class="m-background"></div>

<div class="genre-modal">
    <div class="genre-modal-content container">
      <h2 class="genre-modal-message col-md-12 col-xs-12">Select which genres you would like.</h2>
      <div class="genres-index-container col-md-12 col-xs-12"></div>
      <div class="button-container col-md-6 col-xs-6">
        <button type="button" class="cancel-button btn btn-default">CANCEL</button>
      </div>
      <div class="button-container col-md-6 col-xs-6">
        <button type="button" class="submit-button btn btn-danger">SUBMIT</button>
      </div>
    </div>
</div>
