<div class="jumbo-back-display"></div>
<div class="jumbo-front-display">
  <h1>Find Groups Near You</h1>
  <div class="search-bar">
    <button class="button btn btn-primary" id="show-groups-index">GROUPS</button>
    <button class="button btn btn-primary" id="show-events-index">EVENTS</button>
  </div>
</div>
