<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#">Game Up</a>
    </div>

    <ul class="nav navbar-nav">
      <li class="groups-index-link"><a href="/#/groups">Find a group</a></li>
      <li class="group-new-link"><a href="#/groups/new">Start a group</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="current-user-show"><a href="#/users/<%= currentUser.userId%>" ><%= currentUser.username %></a></li>
      <li><a data-method="delete" href="/session">Sign Out</a></li>
    </ul>
  </div>
</nav>
