<form class="group-search-form" action="" method="post">
  <div class="form-group">
    <label for="group-distance">Distance to Group (mi): </label>
    <input type="text" class="distance-input" name="distance" value="<%= distance %>">
  </div>

  <input type="submit" class="btn btn-default submit-group-search" value="Search">
</form>

<div class="groups-indeces"></div>
