/**/

 @import "bootstrap-sprockets";
 @import "bootstrap";
.group-show {
  position: absolute;
  width: 100%;
}
.group-nav {
   text-align: center;
   p {
     display: inline-block;
     margin-left: 30px;
     margin-right: 30px;
   }
   padding: 10px;
}

.group-detail-view {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 20px;
}

.main-pane {
  display: inline-block;
  border: 1px solid #ddd;
}

.sidebar {
  display: inline-block;
  position: relative;
  top: 25%;
}

.event-content {
  padding: 20px;
}

.new-comment {
  margin-left: auto;
  margin-right: auto;
}

 div.comments-index-view h6 {
  text-align: center;
}

ul.comments-index li {
  list-style-type: none;
}

.create-comment {
  margin-left: 10%;
  width: 80%;
}

.new-comment {
  margin-left: 10%;
  width: 80%;
}

.m-background {
  background: rgba(92, 88, 88, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.m-content {
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: white;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
}

.event-form-fields {
  padding-left: 50px;
  padding-right: 50px;
  width: 400px;
}

.group-form-fields {
  padding-left: 50px;
  padding-right: 50px;
  width: 400px;
}

ul.events-index li {
  list-style-type: none;
}
