/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.errors {
  color: red;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

 * {
   font-family: 'Lato';
 }

p {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.clear-fix::after {
  clear: both;
  display: block;
  content: "";
}


div.group-nav {
   text-align: center;
   p {
     display: inline-block;
     margin-left: 30px;
     margin-right: 30px;
   }
   padding: 10px;
   position: relative;
   background: rgba(255,255,255,0.5);
}

img.image-modal {
  width: 100%;
  height: 100%;
  max-height: 500px;
  max-width: 500px;
}

div.image-modal {
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: white;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
}

div.user-modal {
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: white;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;

  .close {
    color: #ccc;
  }

  label {
    display: block;
  }
}

.image-jumbo {
  position: absolute;
  width: inherit;
}

.group-jumbo {
  position: relative;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.group-detail-view {
  display: inline-block;
  padding: 20px;
  // background-color: #f7f7f7;
}

.main-pane {
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #ddd;
  margin: 0px auto;
  margin-right: 20px;
  border-radius: 10px;
}

.sidebar {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: 25%;
  background-color: #ddd;
  border-radius: 10px;
}

.event-content {
  padding: 20px;
}

.new-comment-wrapper {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.new-comment {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.comments-index-view h6 {
  text-align: left;
}

ul.comments-index {
    padding: 0px;

    li {
      list-style-type: none;
    }
}

ul.groups-index {
    padding: 0px;

    li {
      list-style-type: none;
    }
}


ul.images-index {
    padding: 0px;

    li {
      list-style-type: none;
    }
}

.m-background {
  background: rgba(92, 88, 88, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.c-background {
  background: rgba(92, 88, 88, 0);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.m-content {
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: white;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
  button.close {
    color: #bbb;
  }
}

.event-form-fields {
  padding-left: 50px;
  padding-right: 50px;
  width: 400px;
}

.group-form-fields, .edit-group-form-fields {
  padding-left: 50px;
  padding-right: 50px;
  width: 400px;
}

ul.events-index li {
  list-style-type: none;
}

.comment-form {
  text-align: center;
  z-index: 2;
  position: relative;
}

.user-form {
  text-align: center;
  z-index: 2;
  position: relative;
}

div.groups-index {
  h1 {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #bbb;
    padding-bottom: 10px;
  }
}

.user-item {
  .user-timestamp {
    font-size: 10px;
  }
}

.jumbo-container {
  text-align: center;
  position: relative;
  width: 100%;

  .jumbo-back-display {
    width: 100%;
    height: 200px;
    background-image: url(https://res.cloudinary.com/dj7rafx1m/image/upload/v1439940064/46153-collection_iw97ht.jpg);
    position: relative;
    z-index: 1;
    opacity: 0.5;
  }

  .jumbo-front-display {
    position: absolute;
    top: 0px;
    color: white;
    text-shadow: 0px 0px 10px black;
    font-size: 40px;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    div, h1 {
      font-color: white;
      margin-top: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      opacity: 1;
      z-index: 3;
    }

    h1 {
      position: relative;
    }

  }


  border-bottom: 3px solid #ccc;
}

.search-bar {
  padding-top: 20px
}

.content-padding {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
}

.no-events {
  text-align: center;
  padding-bottom: 20px;
}

.index-container {
  padding: 20px;
}

.hover-fix:hover {
  text-decoration: none;
  cursor: pointer;
}

nav.nabar.navbar-default {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}

.group-search-form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  .form-group {
    padding-right: 20px;
    width: 65%;
  }

  * {
    display: inline-block;
  }

  .distance-input {
    width: 40px;
    text-align: right;
  }

  .btn {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 30%;
  }
}

@font-face {
    font-family: 'moonhouseregular';
    src: url('fonts/moonhouse-webfont.eot');
    src: url('fonts/moonhouse-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/moonhouse-webfont.woff2') format('woff2'),
         url('fonts/moonhouse-webfont.woff') format('woff'),
         url('fonts/moonhouse-webfont.ttf') format('truetype'),
         url('fonts/moonhouse-webfont.svg#moonhouseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a.navbar-brand {
  font-family: 'Fugaz One'
}

.user-show-info {

  p {
    font-size: 15px;
  }
}

.user-show-info-display {
  font-size: 35px;
}

.user-show-username {
  font-size: 40px;
}

.comment-user {
  text-align: center;
  img {
    width: 100px;
    height: 100px;
  }
}

.comment-item {
  padding-bottom: 25px;
}
