/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

.errors {
  color: red;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

 * {
   font-family: 'Lato';
 }

p {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.clear-fix::after {
  clear: both;
  display: block;
  content: "";
}


div.group-nav {
   text-align: center;
   p {
     display: inline-block;
     margin-left: 30px;
     margin-right: 30px;
   }
   padding: 10px;
   position: relative;
   background: rgba(255,255,255,0.5);
}

img.image-modal {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  max-width: 1000px;
}

div.image-modal {
  top: 200px;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: white;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
}

div.confirmation-modal {
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  position: absolute;
  background-color: #eee;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  max-width: 332px;
  .confirmation-content {
    max-width: 300px;

    h1 {
      font-size: 16px;
      font-weight: bolder;
      color: #f99;
    }

    p {
      padding-bottom: 30px;
      font-size: 13px;
      font-weight: bold;
    }
  }
}

div.genre-modal {
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  position: absolute;
  background-color: #eee;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  .genre-modal-content {
    h2 {
      font-weight: bold;
    }
  }
}


div.user-modal {
  z-index: 50;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: #eee;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;

  .close {
    color: #333;
    opacity: 0.6;
  }

  label {
    display: block;
  }

  button.btn.btn-default {
    width: 70px;
    height: 40px;
  }
}

.image-jumbo {
  position: absolute;
  width: inherit;
}

.group-jumbo {
  position: relative;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.group-detail-view {
  display: inline-block;
  padding: 20px;
  // background-color: #f7f7f7;
}

.main-pane {
  display: inline-block;
  border: 1px solid rgb(217, 228, 235);
  background-color: rgb(217, 228, 235);
  margin: 0px auto;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

.sidebar {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: 25%;
  background-color: rgb(217, 228, 235);
  border-radius: 10px;
}

.event-content {
  padding: 20px;
}

.new-comment-wrapper {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.new-comment {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.comments-index-view h6 {
  text-align: left;
}

ul.comments-index {
    padding: 0px;

    li {
      list-style-type: none;
    }
}

ul.groups-index {
    padding: 0px;

    li {
      list-style-type: none;
    }
}


ul.images-index {
    padding: 0px;

    li {
      list-style-type: none;
    }
}

.m-background {
  background: rgba(92, 88, 88, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 49;
}

.c-background {
  background: rgba(92, 88, 88, 0);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  cursor: default;
}

.m-content {
  z-index: 50;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
  transform: translate(-50%);
  h4 {
    padding-bottom: 0px;
  }
  button.close {
    color: #333;
    opacity: 0.6;
  }
}

.event-form-fields {
  padding-left: 50px;
  padding-right: 50px;
  width: 300px;
  text-align: center;
  input.btn.btn-default {
    height: 50px;
    width: 200px;
  }
}

.group-form-fields, .edit-group-form-fields {
  padding-left: 25px;
  padding-right: 25px;
  width: 300px;
  text-align: center;
  input.btn.btn-default {
    height: 50px;
    width: 200px;
  }
}

ul.events-index li {
  list-style-type: none;
}

.comment-form {
  text-align: center;
  z-index: 2;
  position: relative;
}

.user-form {
  text-align: center;
  z-index: 2;
  position: relative;
}

div.groups-index {
  h1 {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid rgb(14, 82, 67);
    padding-bottom: 10px;
  }
}

.user-item {
  .user-timestamp {
    font-size: 10px;
  }
}

.jumbo-container > .jumbo-container {
  text-align: center;
  position: relative;
  width: calc(100% * 10 / 9);
  left: calc(100% * -1/18);
  .jumbo-back-display {
    width: 100%;
    height: 250px;
    background-color: rgb(82, 118, 145);
    position: relative;
    z-index: 1;
  }

  .jumbo-front-display {
    position: absolute;
    top: 0px;
    color: white;
    font-size: 20px;
    z-index: 4;
    left: 5%;
    width: 90%;
    div.next-event.container {
      font-color: white;
      margin-top: 0px;
      padding-top: 30px;
      width: 90%;
      opacity: 1;
      z-index: 3;
      min-width: 535px;
      div.next-event-info, div.event-counters {
        display: inline-block;
        height: 170px;
      }

      div.event-counters {
        div.my-events-counter, div.nearby-events-counter {
          display: block;
          height: 85px;
          padding-top: 20px;
          padding-bottom: 20px;
          text-align: left;
          min-width: 230px;
          * {
            display: inline-block;
          }

          .my-events-count, .nearby-events-count {
            height: 100%;
            width: 45px;
            padding-top: 5px;
            text-align: center;
            border-radius: 50%;
            border: 2px solid rgb(23, 61, 91);
            background-color: rgb(49, 88, 118);
            color: #eee;
          }

          .my-events-label, .nearby-events-label {
            font-size: 15px;
            padding-left: 10px;
          }


        }
      }

      div.next-event-info {
        background-color: #f7f7f7;
        border-radius: 5px;
        padding: 5px;
        min-width: 335px;
        .next-event-name {
          font-size: 20px;
          padding-left: 15px;
          font-weight: normal;
          color: rgb(14, 82, 67);
          text-align: left;
          padding-bottom: 15px;
          padding-top: 5px;
        }

        .calendar-image {
          border-radius: 2px;
          margin-bottom: 20px;
          .top-calendar {
            background-color: rgb(14, 82, 67);
            color: #f7f7f7;
            font-weight: bold;
          }
          .bottom-calendar {
            background-color: #f7f7f7;
            color: #333;
            border: 3px solid #ccc;
            border-top: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 25px;
            font-weight: bold;
            box-sizing: border-box;
          }
        }

        .next-event-fields {
          margin-bottom: 20px;
          * {
            margin-bottom: 5px;
            text-align: left;
          }
          .next-event-group {
            color: rgb(37, 110, 93);
            font-size: 12px;
          }

          .next-event-title {
            color: rgb(14, 82, 67);
            font-size: 30px;
          }

          .next-event-more {
            font-size: 12px;
            color: rgb(37, 110, 93);
            .next-event-time {
              padding: 0px;
              margin-left: 0px;
              margin-right: 0px;
              border-right: 1px solid;
            }
          }
        }
      }
    }

  }


}

.next-event-info:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.next-event-info, .next-event-info:hover {
  transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
}


.search-bar {
  width: 90%;
  left: 5%;
  z-index: 4;
  background-color: rgb(23, 61, 91);
  color: #eee;
  height: 50px;
  position: absolute;
  min-width: 675px;
  top: 225px;
  .display-type-buttons {
    height: 50px;
    min-width: 215px;
    * {
      background-color: rgb(49, 88, 118);
      height: 50px;
      border-radius: 0px;
    }

    *:hover {
      background-color: rgb(82, 118, 145);
      transform: scale(1.00);
    }
  }

  .search-field {
    min-width: 430px;
  }
}

.content-padding {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7f7f7;
  min-width: 910px;
}

.no-events {
  text-align: center;
  padding-bottom: 20px;
}

.index-container {
  padding: 20px;
}

.hover-fix:hover {
  text-decoration: none;
  cursor: pointer;
}

nav.nabar.navbar-default {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}

.group-search-form {
  width: 100%;
  margin-left: 0;
  height: 50px;
  .form-group {
    padding-right: 20px;
    height: 40px;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 0px;
  }

  * {
    display: inline-block;
  }

  .distance-input {
    width: 140px;
    text-align: left;
    height: 100%;
    color: rgb(0, 55, 43);
    background-color: #eee;
  }

  label {
    padding-left: 40px;
  }
}

@font-face {
    font-family: 'moonhouseregular';
    src: url('fonts/moonhouse-webfont.eot');
    src: url('fonts/moonhouse-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/moonhouse-webfont.woff2') format('woff2'),
         url('fonts/moonhouse-webfont.woff') format('woff'),
         url('fonts/moonhouse-webfont.ttf') format('truetype'),
         url('fonts/moonhouse-webfont.svg#moonhouseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a.navbar-brand {
  font-family: 'Fugaz One'
}

.user-show-info {

  p {
    font-size: 15px;
  }
}

.user-show-info-display {
  font-size: 35px;
}

.user-show-username {
  font-size: 40px;
}

.comment-user {
  text-align: center;
  img {
    width: 100px;
    height: 100px;
  }
}

.comment-item {
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: #f7f7f7;

  .comment-content-main {
    padding-left: 20px;
    .comment-body {
      font-size: 16px;
      margin-bottom: 15px;
    }


  }
}

.navbar.navbar-default > .container-fluid {
  background-color: rgb(37,110,93);
}

#content {
  background-color: rgb(120, 151, 171);
  color: rgb(0, 55, 43);
  min-height: 1000px;
  h1, h2, h4 {
    font-family: 'Fugaz One';
    font-weight: bold;
  }
}

.content-padding  h1, h2, h3, h4, h5, h6 {
  font-family: 'Fugaz One';
  font-weight: bold;
  color: rgb(0, 55, 43);
  padding-bottom: 30px;
}

.jumbo-container > .jumbo-container > .jumbo-front-display > h1 {
  color: #fff;
}

.content-wrapper {
  min-width: 910px;
}

.image-button-row {
  button.profile-pic {
    margin-right: 20px;
  }
}

#recommended-tag:hover {
  cursor: pointer;
}

#recommended-tag {
  -moz-text-decoration-style: wavy; /* Code for Firefox */
  text-decoration: underline;
}
