.genre-index-view h3 {
  padding: 0px;
  text-align: center;
}

.genre-index-view {
  min-width: 300px;
}

ul.genres-index {
  list-style: none;
  background-color: rgb(217, 228, 235);
  padding: 0px;
  border-radius: 10px;
  li {
    display: inline-block;
    border-radius: 10px;
    border: 10px solid rgb(217, 228, 235);
    -webkit-transition: border 300ms linear 0s;
    -moz-transition: border 300ms linear 0s;
    -o-transition: border 300ms linear 0s;
    transition: border 300ms linear 0s;
  }
}

div.genre-item {
  width: 280px;
  background-color: rgb(217, 228, 235);
  border-radius: 10px;
  border: 0px solid rgb(217, 228, 235);
  padding: 3px;
  margin: 6px;
  font-size: 20px;

  div {
    display: inline-block;
  }


  .genre-name {
    font-family: 'Fugaz One';
    transform: translateY(25%);
    color: #eee;
    width: calc(100% - 55px);
    text-align: center;
  }

  .genre-fa-icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    text-align: center;
    border-radius: 25px;
    i {
      transform: translateY(40%);
      color: rgb(217, 228, 235);
    }
  }
}

.selectable:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.selected {
  border: 10px solid red !important;
}

.selectable, .selectable:hover {
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.selected, .genre-item {
  -webkit-transition: border 300ms linear 0s;
  -moz-transition: border 300ms linear 0s;
  -o-transition: border 300ms linear 0s;
  transition: border 300ms linear 0s;
}

.no-border {
  border-top: 0px solid rgb(217, 228, 235) !important;
  border-bottom: 0px solid rgb(217, 228, 235) !important;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
