// Place all the styles related to the Staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.splash-background {
  position: absolute;
  background: rgba(92, 88, 88, 0.6);
  background-image: url(https://res.cloudinary.com/dj7rafx1m/image/upload/v1440115019/maxresdefault_ubkkdx.jpg);
  width: 100%;
  z-index: 1;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px black;
  font-size: 60px;
  font-family: 'Fugaz One';
}

.old-user-pane, .new-user-pane {
  position: relative;
  border-radius: 25px;
  font-family: 'Fugaz One';
  padding: 25px;
  padding-top: 0px;
  width: 100%;
  background-color: #ddd;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 10px solid black;
  border-top: 0px;
  h3 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }

  form {
    text-align: center;
  }
}

.switch-pane {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  color: #999;
  top: -10%;
  text-align: center;
}

.switch-pane:hover {
  cursor: pointer;
}

.new-user-form, .old-user-form {
  width: 250px;
  .new-user-submit, .old-user-submit, .guest-user-submit{
    display: block;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.old-user-pane {
  float: left;
  border: 0px;
}

.new-user-pane {
  position: absolute;
  border-bottom: 10px solid black;
  left: -10px;
  width: calc(100% + 20px);
}

.pane-container {
  border-radius: 25px;
  padding: 0px;
  padding-top: 25px;
  position: absolute;
  width: 315px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: #ddd;
  box-sizing: border-box;
  border: 10px solid black;
  border-bottom: 0 px;
}

.btn.btn-default, .btn.btn-primary, .btn.btn-success, .btn.btn-warning, .btn.btn-danger, .btn.btn-info {
  height: 90px;
  width: 45px;
  font-family: 'Fugaz One';
  font-size: 15px;
  transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
}

.btn.btn-default:hover, .btn.btn-primary:hover, .btn.btn-success:hover, .btn.btn-warning:hover, .btn.btn-danger:hover, .btn.btn-info:hover {
  font-size: 18px;
  transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
}

.btn.btn-default {
  background-color: rgb(82, 118, 145);
  height: auto;
  width: auto;
}

.btn.btn-default:hover {
  background-color: rgb(47, 87, 117);
}

.btn.btn-info {
  background-color: rgb(38, 89, 106);
  height: auto;
  width: auto;
}

.btn.btn-info:hover {
  background-color: rgb(23, 62, 72);
}

.btn.btn-warning {
  background-color: rgb(37,110, 93);
  height: auto;
  width: auto;
}

.btn.btn-warning:hover {
  background-color: rgb(14, 83, 68);
}

.btn.btn-danger {
  background-color: rgb(0, 51, 51);
  height: auto;
  width: auto;
}

.btn.btn-danger:hover {
  background-color: rgb(0, 31, 31);
}
