// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-show-content {
  display: inline-block;
  padding: 20px;
  min-width: 500px;
  width: 75%;
  * {
    display: block;
  }
}


.user-show-sidebar {
  width: 25%;
  vertical-align: top;
  float: right;
  padding: 20px;
}

// .user-image {
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   width: 100%;
// }

.user-show-info {
  border-bottom: 3px solid rgb(14, 82, 67);
  padding-top: 5px;
}

.user-show-info > div {
  display:inline-block;
  width: 49%;
  font-size: 20px;
  margin: 0px;
  div {
    font-size: 25px;
  }
}

.user-show-username {
  font-size: 40px;
  border-bottom: 3px solid rgb(14, 82, 67);
}

.user-show-bio {
  font-size: 15px;
  border-bottom: 3px solid rgb(14, 82, 67);
  div {
    font-size: 20px;
  }
}
