// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show {
  padding-top: 20px;
}

.user-show-content {
  display: inline-block;
  min-width: 500px;
  * {
    display: block;
  }
}


.user-show-sidebar {
  vertical-align: top;
}

// .user-image {
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   width: 100%;
// }

.user-show-content > .user-show-info {
  border-bottom: 1px solid rgb(14, 82, 67);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.user-show-content > .user-show-info > div {
  font-size: 20px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  div {
    font-size: 25px;
  }
}

.user-show-username {
  font-size: 40px;
  border-bottom: 1px solid rgb(14, 82, 67);
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-show-bio {
  font-size: 15px;
  p {
    padding-top: 20px;
  }
  div {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
