<div class="m-background"></div>

<div class="image-modal">
    <img class="image-modal" src="<%= image.modalSize() %>"/>
    <div class="image-button-row">
      <button type="button" class="profile-pic btn.btn-default">Make Group Profile</button>
      <button type="button" class="jumbo-pic btn.btn-default">Make Group Jumbotron</button>
    </div>
</div>
